@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Dancing+Script&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Advent Pro','sans-serif';
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    marging: 0;
}

li{
    list-style-type: none;
}

h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;

} 

a{
    text-decoration: none;
    color: black;
}

/* **************************** NAV BAR****************************** */

nav{
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header li{
    float: right;
    font-size: 1.2em;
}

header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo{
    font-family: 'Dancing script', cursive;
    font-weight: bold;
    float: left;
}

/* ********************* IMAGE PRINCIPALE ************ */

#imagePrincipale{
    padding-top: 60px;
    background: url(media/image-principale.JPG) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1{
    font-family: 'Dancing script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
}

/* Ne marche pas encore */
#premierTrait{
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
}

h3{
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}

/* ********************* PRESENTATION ************* */

#presentation{
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0px;

}

#textInto{
    padding: 0px 20px;
}

#prestations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.prestationPhoto h4{
    font-family: 'Dancing script', curcive ;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: bold;

}

.prestationPhoto img{
    border-radius: 10px;
    box-shadow: 5px 8px 5px 4px rgba(0, 0, 0, 0.83);

}

.prestationPhoto img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

/* ********************* TOURISME *************** */
#tourisme{
    height: 1400px;
    background-color: #f1f2f6;
    padding: 1px 2%;
}

#tourisme h2{
    padding-top: 60px;
}
#ocean{
    background: url(media/ocean.jpg);
}
#chateau{
    background: url(media/chateau.JPG);
}
#estuaire{
    background: url(media/phare.JPG);
}
#vignoble{
    background: url(media/vignes.jpg);
}


#tourisme li{
    margin: 65px 100px 0px 100px;
    height: 225px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0, 0, 0, 0.70);
}

#tourisme p{
    height: 45px;
    width: 235px;
    background-color: #01DF74;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em ;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0px 1px rgba(67, 131, 30, 1);
}

#tourisme #chateau, #tourisme #vignoble{
    float: right;
}

#chateau p, #vignoble p{
    float: left;
    background-color: cyan;
    margin-left: -180px;
    box-shadow: -4x 4px 0px 1px rgba(15, 154, 156, 1);
}

/* ************************** FOOTER ****************** */
footer{
    background-color: #68706c;
    color: #FFFAE1;
    padding: 20px 0px 10px 0px;
    text-align: center;
}
form{
    margin: 0 auto;
    max-width: 900px;

}

input, textarea, button{
    boder: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', cursive;
    border-radius: 10px;
}

textarea{
    height: 120px;
}

button{
    font-size: 1.5em;
    background-color: #FFFAE1;
}

button:hover {
    background-color: #e55031;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in;
}

#deuxiemeTrait{
    height: 1px;
    width: 75%;
    margin: 60px auto;
    background-color: #FFFAE1;
}

#CopyrightEtIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10px;
}

#Copyright{
    width: 50%;
    text-align: left;
    color: #FFFAE1;
}

#icons{
    width: 50%;
    text-align: right; 
}

#icons a{
    display: inline-block;
    padding: 0 10px;
    font-size: 1.2em;
    color: #FFFAE1;
}

#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}